node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/
data/
mockdata/
MessageProcessingLogs/
.DS_Store
MessageProcessingLogs/.DS_Store
public/.DS_Store
public/uimodule/.DS_Store

public/messageGraph/graph.json
public/messageGraph/graph_cls.json
public/messageGraphSample/.DS_Store
public/messageGraphSample/data.json
mmtdatabase.db-shm
mmtdatabase.db-wal
public/messageGraphSample/iflows/*
