node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/
data/
mockdata/
MessageProcessingLogs/
.DS_Store
MessageProcessingLogs/.DS_Store
public/.DS_Store
public/uimodule/.DS_Store